In [94]:
import pandas as pd
import numpy as np

import os

In [78]:
credits = pd.read_csv(r"C:\Users\Bhashyam Sudhakar\OneDrive\Documents\datascience\credits.csv")
titles = pd.read_csv(r"C:\Users\Bhashyam Sudhakar\OneDrive\Documents\datascience\titles.csv")

print(" Data Loaded Successfully!")

 Data Loaded Successfully!

In [97]:
credits.head(10)
credits.shape

(81355, 5)

In [92]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81355 entries, 0 to 81354
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   person_id  81355 non-null  int64
 1   id         81355 non-null  object
 2   name       81355 non-null  object
 3   character  70532 non-null  object
 4   role       81355 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.1+ MB

In [93]:
credits.drop_duplicates(inplace=True)

In [98]:
titles.head(20)
titles.shape

(6137, 15)

In [82]:
# Check missing values
print("\nMissing values in credits:")
print(credits.isnull().sum().sort_values(ascending=False).head(10))


print("\nMissing values in titles:")
print(titles.isnull().sum().sort_values(ascending=False).head(10))

Missing values in credits:
character    10823
person_id        0
id               0
name             0
role             0
dtype: int64

Missing values in titles:
seasons              3831
age_certification    2743
imdb_votes            484
imdb_score            468
imdb_id               396
tmdb_score            252
tmdb_popularity        76
description            23
runtime                 0
title                   0
dtype: int64

In [83]:

titles['seasons'] = titles.apply(
    lambda x: 0 if x['type'] == 'MOVIE' and pd.isnull(x['seasons']) else x['seasons'],
    axis=1
)

titles['seasons'] = titles.groupby('type')['seasons'].transform(lambda x: x.fillna(x.median()))
titles['age_certification'] = titles['age_certification'].fillna('Unknown')
titles['imdb_votes'] = titles['imdb_votes'].fillna(test['imdb_votes'].median())
titles['imdb_score'] = titles.groupby('type')['imdb_score'].transform(
    lambda x: x.fillna(x.median())
)
titles['imdb_id'] = titles['imdb_id'].fillna('unknown_id')
titles['tmdb_score'] = titles.groupby('type')['tmdb_score'].transform(
    lambda x: x.fillna(x.median())
)
titles['tmdb_popularity'] = titles['tmdb_popularity'].fillna(test['tmdb_popularity'].median())
titles['description'] = titles['description'].fillna('No description available')

In [84]:
titles.head(15)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,unknown_id,7.1,2095.0,0.601,7.2895
1,tm82169,Rocky,MOVIE,"When world heavyweight boxing champion, Apollo...",1976,PG,119,"['drama', 'sport']",['US'],0.0,tt0075148,8.1,588100.0,106.361,7.7820
2,tm17823,Grease,MOVIE,Australian good girl Sandy and greaser Danny f...,1978,PG,110,"['romance', 'comedy']",['US'],0.0,tt0077631,7.2,283316.0,33.160,7.4060
3,tm191099,The Sting,MOVIE,A novice con man teams up with an acknowledged...,1973,PG,129,"['crime', 'drama', 'comedy', 'music']",['US'],0.0,tt0070735,8.3,266738.0,24.616,8.0200
4,tm69975,Rocky II,MOVIE,After Rocky goes the distance with champ Apoll...,1979,PG,119,"['drama', 'sport']",['US'],0.0,tt0079817,7.3,216307.0,75.699,7.2460
5,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'comedy']",['GB'],0.0,tt0071853,8.2,547292.0,20.964,7.8040
6,tm17249,Animal House,MOVIE,"At a 1962 College, Dean Vernon Wormer is deter...",1978,R,109,['comedy'],['US'],0.0,tt0077975,7.4,123611.0,17.372,7.0200
7,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,"['comedy', 'european']",['GB'],4.0,tt0063929,8.8,75654.0,24.773,8.2580
8,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,['comedy'],['GB'],0.0,tt0079470,8.0,405022.0,19.787,7.7620
9,tm16479,White Christmas,MOVIE,Two talented song-and-dance men team up after ...,1954,Unknown,120,"['comedy', 'music', 'romance']",['US'],0.0,tt0047673,7.5,46586.0,11.598,7.2000
10,tm91699,Heroes,MOVIE,A Vietnam veteran suffering from post traumati...,1977,PG,112,"['drama', 'comedy', 'romance']",['US'],0.0,tt0076138,6.0,1883.0,7.869,6.5000
11,tm12775,Play Misty for Me,MOVIE,A brief fling between a male disc jockey and a...,1971,R,102,"['drama', 'thriller']",['US'],0.0,tt0067588,6.9,29706.0,10.964,6.6120
12,tm135083,Cairo Station,MOVIE,"Qinawi, a physically challenged peddler who ma...",1958,Unknown,77,"['drama', 'comedy', 'crime']",['EG'],0.0,tt0051390,7.5,4878.0,7.372,7.4000
13,tm69997,Richard Pryor: Live in Concert,MOVIE,"Richard Pryor delivers monologues on race, sex...",1979,R,78,"['comedy', 'documentation']",['US'],0.0,tt0284692,8.1,5141.0,7.266,7.4320
14,tm16812,Bandie,MOVIE,Maharaj Brajbhan lives a wealthy lifestyle in ...,1978,Unknown,141,"['drama', 'romance', 'action']",['IN'],0.0,tt1219315,4.8,37.0,1.862,6.0000

In [85]:
print(titles.isnull().sum().sort_values(ascending=False).head(10))

id                      0
title                   0
type                    0
description             0
release_year            0
age_certification       0
runtime                 0
genres                  0
production_countries    0
seasons                 0
dtype: int64

In [88]:
titles.drop_duplicates(inplace=True)

In [90]:
titles['release_year'] = pd.to_datetime(titles['release_year'], format='%Y')

In [91]:
titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6137 entries, 0 to 6136
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    6137 non-null   object
 1   title                 6137 non-null   object
 2   type                  6137 non-null   object
 3   description           6137 non-null   object
 4   release_year          6137 non-null   datetime64[ns]
 5   age_certification     6137 non-null   object
 6   runtime               6137 non-null   int64
 7   genres                6137 non-null   object
 8   production_countries  6137 non-null   object
 9   seasons               6137 non-null   float64
 10  imdb_id               6137 non-null   object
 11  imdb_score            6137 non-null   float64
 12  imdb_votes            6137 non-null   float64
 13  tmdb_popularity       6137 non-null   float64
 14  tmdb_score            6137 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(1), object(8)
memory usage: 719.3+ KB

In [95]:
titles.shape

(6137, 15)

In [96]:
credits.shape

(81355, 5)